<%+ extend('layout') %>
<%+ section('content') %>
<div class="container-fluid">
        <div class="row">
            <a href="/university">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                    <div class="card-header" data-background-color="#005A77">
                            <i class="material-icons">business</i>
                        </div>
                        <div class="card-content">
                            <p class="category">List</p>
                            <h3 class="title">University</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">                                    
                                <a href="/university">University</a>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
           
            <a href="/department">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                    <div class="card-header" data-background-color="#005A77">
                            <i class="material-icons">subject</i>
                        </div>
                        <div class="card-content">
                            <p class="category">List</p>
                            <h3 class="title">Department</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">                                    
                                <a href="/department">Department</a>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/faculty">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                    <div class="card-header" data-background-color="#005A77">
                            <i class="material-icons">account_balance</i>
                        </div>
                        <div class="card-content">
                            <p class="category">List</p>
                            <h3 class="title">Occupation</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">                                    
                                <a href="/faculty">Occupation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                <div class="card-header" data-background-color="#005A77">
                                        <i class="material-icons">settings</i>
                                    </div>
                                    <div class="card-content">
                                        <p class="category">Setting</p>
                                        <h3 class="title">Setting</h3>
                                    </div>
                                    <div class="card-footer">
                                        <div class="stats">                                    
                                            <a href="/setting">Setting</a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
<%+ endSection %>