<%+ extend('layout') %>
<%+ section('content')%>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="#005A77">
                <h4 class="title">Add Department</h4>
                <p class="category">______________________</p>
            </div>
            <div class="card-content">
                <form action="/department-add" method="POST" enctype="multipart/form-data" autocomplete="off">
                    <div>
                        <h4 class="title">Department</h4>
                        <div class="row card-content" style="margin-top: -30px">
                            <div class="col-md-6">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">English Name</label>
                                    <input type="text" name="name_en" class="form-control">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Khmer Name</label>
                                    <input type="text" name="name_kh" class="form-control">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <h4 class="title">Subject Recomment</h4>
                        <div class="card-content">
                            <div>
                                <% majors.forEach((major)=>{ %>
                                    <div class="col-md-3">
                                        <div class="checkbox">
                                            <label style="color: #005A77">
                                                <input type="checkbox" name="sub_recomment" value="<%= major.data().id %>">
                                                <%= major.data().name_kh %>
                                            </label>
                                        </div> 
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">SAVE DEPARTMENT</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
<%+ endSection %>