<%+ extend('layout') %>
<%+ section('content') %>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="#005A77">
                <h4 class="title">Feature Image University </h4>
                <p class="category">_____________________________</p>
            </div>
            <div class="card-content">
                <form action="/university/feature-img/<%= id %>" method="POST" enctype="multipart/form-data" autocomplete="off">
                    <div>
                        <h4 class="title">Feature Image</h4>
                        <div class="row card-content" style="margin-top: -30px">
                            <div>
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Image 1</label>
                                    <input type="text" name="link[]" class="form-control">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div>
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Image 2</label>
                                    <input type="text" name="link[]" class="form-control">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div>
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Image 3</label>
                                    <input type="text" name="link[]" class="form-control">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <button type="submit" class="btn btn-primary pull-right">ADD FEATURE IMG</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <%+ endSection %>